/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1e1e1;
}

/* Header */
header {
    background-color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* NAV */
nav {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para espaciar logo, enlaces y sign up */
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    height: 60px;
}

/* Logo a la izquierda */
nav .logo {
    max-height: 50px;
    margin-left: 0; /* Sin espacio adicional */
}

/* Menu centrado */
nav ul {
    display: flex;
    justify-content: center; /* Centra los enlaces en el espacio restante */
    flex-grow: 1; /* Permite que ocupe el espacio central */
    list-style-type: none;
}

nav li {
    list-style-type: none;
    margin: 0 15px;
}

nav li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown categorias */
li.categorias {
    position: relative;
}

.categorias-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.categorias-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.categorias:hover .categorias-content {
    display: block;

}

.categorias-content a:hover {
    background-color: #626262; /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Cambia el color del texto también si quieres */
}

/* Botón "Sign Up" a la derecha */
nav .sign_up {
    background-color: #dfed66;
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
}

/* Enlaces generales */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    color: #ff7b00; 
    font-family: 'Times New Roman', Times, serif; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    padding: 10px; 
    transition: transform 0.3s ease;
}

h2:hover {
    transform: skewY(-5deg) scale(1.1); 
}

section {
    display: flex;           
    flex-direction: column;
    align-items: center;    
}

hr {
    width: 50%;             
    border-top: 2px solid #000; 
    margin-top: 10px; /* Reducido */
    margin-bottom: 20px;       
}

h3 {
    text-align: center;
    color: #333; /* Color de los títulos de cursos */
}

.cursos {
    display: flex;           
    flex-wrap: wrap;        
    justify-content: center;
    margin: 40px;          
}

.curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: #10162c;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    margin: 10px;
    transition: transform 0.5s;
    padding-bottom: 15px; /* Añadir espacio interno */
}

.curso:hover {
    transform: scale(1.05);
}

.texto_curso {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    text-align: center; /* Centrar texto */
}

.info_curso {
    width: 80%; /* Asegura que tanto la línea como el precio se alineen en el mismo espacio */
}

.linea_separadora {
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 10px auto;
}

.imagen_curso {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

.texto_precio {
    font-size: 16px;
    color: #dfed66; /* Color del precio */
    text-align: center; /* Centrar el precio */
}

/* FOOTER */
.footer {
    background-color: rgb(195, 195, 195);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #000000;
    margin-top: 40px;
}

.contenido_footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer_links {
    margin-bottom: 20px;
}

.footer_links a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.logo_footer {
    max-width: 100px;
    vertical-align: middle;
}

.social_icons {
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
}

.social_icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-top: 2px solid #333;
}

.social_icons img {
    width: 30px;
    margin: 0 5px;
}
